.container{
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    background-color: rgba(244, 237, 237, 0.971);
}

body{
    font-family: 'Handlee', cursive !important;
    background: url(part3background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
}  

h1{
    color: rgb(248, 72, 131);
    text-align: center;
}

header, footer{
    text-align: center;
}

h2{
    color: rgb(236, 95, 236);
}

p{
    color: rgb(236, 63, 152);

}

label{
    color: rgb(173, 0, 66);
}

b, strong{
    color: rgb(109, 0, 0);
}
